# Virtuální prostředí (obrovské, neposílat)
venv/
env/

# Python cache (zbytečné)
__pycache__/
*.pyc

# Nastavení uživatele (obsahuje API klíč, neposílat)
user_settings.json

# Složky pro tvorbu EXE (neposílat)
dist/
build/
*.spec

# VS Code nastavení (volitelné, obvykle se neposílá)
.vscode/

.readmeaiignore

installer_script.iss